In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
import time

In [2]:
navegador = webdriver.Chrome()

In [3]:
navegador.get('https://pt.wikipedia.org/wiki/Lista_de_municípios_da_região_Sudeste_do_Brasil_por_população')

In [4]:
time.sleep(5)

In [5]:
posicao = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/thead/tr/th[1]/a').text

In [6]:
municipio = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr[1]/td[2]').text

In [7]:
unidade_federativa = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr[1]/td[3]/a').text

In [8]:
populacao = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr[1]/td[4]').text

In [9]:
print(posicao)
print(municipio)
print(unidade_federativa)
print(populacao)

Posição
São Paulo
São Paulo
12.106.920

In [10]:
lista_vazia_posicao = []
for i in range(1, 100):
    posicao = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr['+str(i)+']/td[1]').text
    lista_vazia_posicao.append(posicao)
print(lista_vazia_posicao)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99']

In [11]:
df_posicao= pd.DataFrame(lista_vazia_posicao,columns=['posicao'])

In [12]:
lista_vazia_municipio = []
for i in range(1, 100):
    municipio = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr['+str(i)+']/td[2]').text
    lista_vazia_municipio.append(municipio)
print(lista_vazia_municipio)

['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Guarulhos', 'Campinas', 'São Gonçalo', 'Duque de Caxias', 'São Bernardo do Campo', 'Nova Iguaçu', 'Santo André', 'São José dos Campos', 'Osasco', 'Ribeirão Preto', 'Uberlândia', 'Sorocaba', 'Contagem', 'Juiz de Fora', 'Serra', 'Niterói', 'Belford Roxo', 'Campos dos Goytacazes', 'Vila Velha', 'Mauá', 'São João de Meriti', 'São José do Rio Preto', 'Santos', 'Mogi das Cruzes', 'Betim', 'Diadema', 'Jundiaí', 'Montes Claros', 'Piracicaba', 'Carapicuíba', 'Cariacica', 'Bauru', 'Vitória', 'Itaquaquecetuba', 'São Vicente', 'Franca', 'Ribeirão das Neves', 'Uberaba', 'Guarujá', 'Praia Grande', 'Taubaté', 'Limeira', 'Petrópolis', 'Suzano', 'Governador Valadares', 'Taboão da Serra', 'Sumaré', 'Barueri', 'Embu das Artes', 'Volta Redonda', 'Ipatinga', 'São Carlos', 'Macaé', 'Indaiatuba', 'Cotia', 'Magé', 'Sete Lagoas', 'Marília', 'Divinópolis', 'Americana', 'Itaboraí', 'Araraquara', 'Jacareí', 'Itapevi', 'Presidente Prudente', 'Hortolândia', 'Santa Luzia', 'Cabo Frio', 'Cachoeiro de Itapemirim', 'Rio Claro', 'Araçatuba', 'Angra dos Reis', "Santa Bárbara d'Oeste", 'Ferraz de Vasconcelos', 'Nova Friburgo', 'Barra Mansa', 'Ibirité', 'Teresópolis', 'Francisco Morato', 'Mesquita', 'Itapecerica da Serra', 'Itu', 'Linhares', 'Poços de Caldas', 'Bragança Paulista', 'Pindamonhangaba', 'Itapetininga', 'São Caetano do Sul', 'Nilópolis', 'Maricá', 'Patos de Minas', 'Franco da Rocha', 'Mogi Guaçu', 'Pouso Alegre', 'Jaú', 'Queimados']

In [13]:
df_municipio = pd.DataFrame(lista_vazia_municipio,columns=['municipio'])
df_municipio

          municipio
0         São Paulo
1    Rio de Janeiro
2    Belo Horizonte
3         Guarulhos
4          Campinas
..              ...
94  Franco da Rocha
95       Mogi Guaçu
96     Pouso Alegre
97              Jaú
98        Queimados

[99 rows x 1 columns]

In [14]:
lista_vazia_unidade_federativa = []
for i in range(1, 100):
    unidade_federativa = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr['+str(i)+']/td[3]/a').text
    lista_vazia_unidade_federativa.append(unidade_federativa)
print(lista_vazia_unidade_federativa)

['São Paulo', 'Rio de Janeiro', 'Minas Gerais', 'São Paulo', 'São Paulo', 'Rio de Janeiro', 'Rio de Janeiro', 'São Paulo', 'Rio de Janeiro', 'São Paulo', 'São Paulo', 'São Paulo', 'São Paulo', 'Minas Gerais', 'São Paulo', 'Minas Gerais', 'Minas Gerais', 'Espírito Santo', 'Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro', 'Espírito Santo', 'São Paulo', 'Rio de Janeiro', 'São Paulo', 'São Paulo', 'São Paulo', 'Minas Gerais', 'São Paulo', 'São Paulo', 'Minas Gerais', 'São Paulo', 'São Paulo', 'Espírito Santo', 'São Paulo', 'Espírito Santo', 'São Paulo', 'São Paulo', 'São Paulo', 'Minas Gerais', 'Minas Gerais', 'São Paulo', 'São Paulo', 'São Paulo', 'São Paulo', 'Rio de Janeiro', 'São Paulo', 'Minas Gerais', 'São Paulo', 'São Paulo', 'São Paulo', 'São Paulo', 'Rio de Janeiro', 'Minas Gerais', 'São Paulo', 'Rio de Janeiro', 'São Paulo', 'São Paulo', 'Rio de Janeiro', 'Minas Gerais', 'São Paulo', 'Minas Gerais', 'São Paulo', 'Rio de Janeiro', 'São Paulo', 'São Paulo', 'São Paulo', 'São Paulo', 'São Paulo', 'Minas Gerais', 'Rio de Janeiro', 'Espírito Santo', 'São Paulo', 'São Paulo', 'Rio de Janeiro', 'São Paulo', 'São Paulo', 'Rio de Janeiro', 'Rio de Janeiro', 'Minas Gerais', 'Rio de Janeiro', 'São Paulo', 'Rio de Janeiro', 'São Paulo', 'São Paulo', 'Espírito Santo', 'Minas Gerais', 'São Paulo', 'São Paulo', 'São Paulo', 'São Paulo', 'Rio de Janeiro', 'Rio de Janeiro', 'Minas Gerais', 'São Paulo', 'São Paulo', 'Minas Gerais', 'São Paulo', 'Rio de Janeiro']

In [15]:
df_unidade_federativa = pd.DataFrame(lista_vazia_unidade_federativa,columns=['unidade_federativa'])
df_unidade_federativa

   unidade_federativa
0           São Paulo
1      Rio de Janeiro
2        Minas Gerais
3           São Paulo
4           São Paulo
..                ...
94          São Paulo
95          São Paulo
96       Minas Gerais
97          São Paulo
98     Rio de Janeiro

[99 rows x 1 columns]

In [16]:
lista_vazia_populacao = []
for i in range(1, 100):
    populacao = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr['+str(i)+']/td[4]').text
    lista_vazia_populacao.append(populacao)
print(lista_vazia_populacao)

['12.106.920', '6.520.266', '2.523.794', '1.349.113', '1.182.429', '1.049.826', '890.997', '827.437', '798.647', '715.231', '703.219', '697.886', '682.302', '676.613', '659.871', '658.580', '563.769', '502.618', '499.028', '495.783', '490.288', '486.388', '462.005', '460.461', '450.657', '434.742', '433.901', '427.146', '417.869', '409.497', '402.027', '397.322', '396.587', '387.368', '371.690', '363.140', '360.657', '360.380', '347.237', '328.871', '328.272', '315.563', '310.024', '307.953', '300.911', '298.235', '290.769', '280.901', '279.634', '273.007', '267.534', '267.054', '265.201', '261.203', '246.088', '244.139', '239.602', '237.750', '237.420', '236.228', '235.234', '234.937', '233.868', '232.394', '230.770', '229.851', '229.502', '225.271', '222.186', '218.897', '216.030', '211.649', '202.952', '194.874', '194.619', '191.889', '188.868', '185.381', '179.451', '177.475', '176.060', '171.602', '171.280', '170.927', '170.157', '169.048', '166.085', '164.163', '164.000', '160.070', '159.608', '158.329', '153.008', '150.893', '149.502', '149.396', '147.137', '146.338', '145.386']

In [17]:
df_populacao = pd.DataFrame(lista_vazia_populacao,columns=['populacao'])
df_populacao

     populacao
0   12.106.920
1    6.520.266
2    2.523.794
3    1.349.113
4    1.182.429
..         ...
94     149.502
95     149.396
96     147.137
97     146.338
98     145.386

[99 rows x 1 columns]

In [18]:
df_final = pd.concat([df_posicao, df_unidade_federativa, df_municipio, df_populacao], axis=1)
df_final

   posicao unidade_federativa        municipio   populacao
0        1          São Paulo        São Paulo  12.106.920
1        2     Rio de Janeiro   Rio de Janeiro   6.520.266
2        3       Minas Gerais   Belo Horizonte   2.523.794
3        4          São Paulo        Guarulhos   1.349.113
4        5          São Paulo         Campinas   1.182.429
..     ...                ...              ...         ...
94      95          São Paulo  Franco da Rocha     149.502
95      96          São Paulo       Mogi Guaçu     149.396
96      97       Minas Gerais     Pouso Alegre     147.137
97      98          São Paulo              Jaú     146.338
98      99     Rio de Janeiro        Queimados     145.386

[99 rows x 4 columns]

In [19]:
df_final.populacao = df_final.populacao.str.replace('.','')

In [20]:
df_final.populacao = df_final.populacao.astype(float)

In [21]:
df_final.to_csv('../0_bases_originais/dados_originais.csv', sep=';', index=False, encoding='UTF-8')

In [22]:
df_final.to_json('../0_bases_originais/dados_originais.json')

In [23]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///populacaosudeste.db', echo=True)
conn = engine.connect()
df_final.to_sql('populacaosudeste.db', con=conn)
pd.read_sql('populacaosudeste.db',con=conn )

2024-05-28 20:46:37,273 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-28 20:46:37,277 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("populacaosudeste.db")
2024-05-28 20:46:37,278 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-28 20:46:37,280 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("populacaosudeste.db")
2024-05-28 20:46:37,282 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-28 20:46:37,286 INFO sqlalchemy.engine.Engine
CREATE TABLE "populacaosudeste.db" (
	"index" BIGINT,
	posicao TEXT,
	unidade_federativa TEXT,
	municipio TEXT,
	populacao FLOAT
)


2024-05-28 20:46:37,288 INFO sqlalchemy.engine.Engine [no key 0.00191s] ()
2024-05-28 20:46:37,298 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_populacaosudeste.db_index" ON "populacaosudeste.db" ("index")
2024-05-28 20:46:37,301 INFO sqlalchemy.engine.Engine [no key 0.00248s] ()
2024-05-28 20:46:37,316 INFO sqlalchemy.engine.Engine INSERT INTO "populacaosudeste.db" ("index", posicao, unidade_federativa, municipio, populacao) VALUES (?, ?, ?, ?, ?)
2024-05-28 20:46:37,317 INFO sqlalchemy.engine.Engine [generated in 0.00273s] [(0, '1', 'São Paulo', 'São Paulo', 12106920.0), (1, '2', 'Rio de Janeiro', 'Rio de Janeiro', 6520266.0), (2, '3', 'Minas Gerais', 'Belo Horizonte', 2523794.0), (3, '4', 'São Paulo', 'Guarulhos', 1349113.0), (4, '5', 'São Paulo', 'Campinas', 1182429.0), (5, '6', 'Rio de Janeiro', 'São Gonçalo', 1049826.0), (6, '7', 'Rio de Janeiro', 'Duque de Caxias', 890997.0), (7, '8', 'São Paulo', 'São Bernardo do Campo', 827437.0)  ... displaying 10 of 99 total bound parameter sets ...  (97, '98', 'São Paulo', 'Jaú', 146338.0), (98, '99', 'Rio de Janeiro', 'Queimados', 145386.0)]
2024-05-28 20:46:37,321 INFO sqlalchemy.engine.Engine COMMIT
2024-05-28 20:46:37,327 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-28 20:46:37,329 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("populacaosudeste.db")
2024-05-28 20:46:37,330 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-28 20:46:37,334 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-05-28 20:46:37,335 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-28 20:46:37,337 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-05-28 20:46:37,339 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-28 20:46:37,341 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("populacaosudeste.db")
2024-05-28 20:46:37,343 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-28 20:46:37,345 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-05-28 20:46:37,346 INFO sqlalchemy.engine.Engine [raw sql] ('populacaosudeste.db',)
2024-05-28 20:46:37,349 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("populacaosudeste.db")
2024-05-28 20:46:37,350 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-28 20:46:37,351 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("populacaosudeste.db")
2024-05-28 20:46:37,353 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-28 20:46:37,355 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-05-28 20:46:37,356 INFO sqlalchemy.engine.Engine [raw sql] ('populacaosudeste.db',)
2024-05-28 20:46:37,360 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("populacaosudeste.db")
2024-05-28 20:46:37,361 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-28 20:46:37,363 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_populacaosudeste.db_index")
2024-05-28 20:46:37,366 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-28 20:46:37,368 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("populacaosudeste.db")
2024-05-28 20:46:37,370 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-28 20:46:37,372 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_populacaosudeste.db_index")
2024-05-28 20:46:37,373 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-28 20:46:37,375 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-05-28 20:46:37,376 INFO sqlalchemy.engine.Engine [raw sql] ('populacaosudeste.db',)
2024-05-28 20:46:37,383 INFO sqlalchemy.engine.Engine SELECT "populacaosudeste.db"."index", "populacaosudeste.db".posicao, "populacaosudeste.db".unidade_federativa, "populacaosudeste.db".municipio, "populacaosudeste.db".populacao
FROM "populacaosudeste.db"
2024-05-28 20:46:37,385 INFO sqlalchemy.engine.Engine [generated in 0.00197s] ()

    index posicao unidade_federativa        municipio   populacao
0       0       1          São Paulo        São Paulo  12106920.0
1       1       2     Rio de Janeiro   Rio de Janeiro   6520266.0
2       2       3       Minas Gerais   Belo Horizonte   2523794.0
3       3       4          São Paulo        Guarulhos   1349113.0
4       4       5          São Paulo         Campinas   1182429.0
..    ...     ...                ...              ...         ...
94     94      95          São Paulo  Franco da Rocha    149502.0
95     95      96          São Paulo       Mogi Guaçu    149396.0
96     96      97       Minas Gerais     Pouso Alegre    147137.0
97     97      98          São Paulo              Jaú    146338.0
98     98      99     Rio de Janeiro        Queimados    145386.0

[99 rows x 5 columns]